<div class="nav mt-5"
    style="background-color: #3b71ca; width:90%; height:10vh; margin-left:4rem; justify-content:space-between">
    <div style="color:aliceblue" class="mt-2 p-2">
        <h4>WELCOME</h4>
    </div>
    <div style="margin-top:0.7rem; margin-right:1rem"><a class="btn btn-primary" href="/logout">LOGOUT</a></div>
</div>
<div class="container mt-4 ">



    <table class="table table-hover table-primary ">
        <div class="div ">
            <thead>
                <tr>
                    <th scope="col">ARTICLE ID</th>
                    <th scope="col">TRY HERE</th>
                    <th scope="col">CURRENT STATUS</th>
                    <th scope="col">COMMENTS</th>
                </tr>
            </thead>

            <h3>{{result.Name}}</h3>

            <tbody>

                <tr>
                    {{#each result.detail }}
                    
                    <td>{{ARTICLEID}}</td>

                    <td><a href="{{TRYHERE}}">TRYHERE</a></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info active" id="a{{ARTICLEID}}">{{status}}</button>
                            <button type="button" class="btn btn-info active dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Choose</span>
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item"><button class="btn btn-primary"
                                        onclick="statusupdate('{{ARTICLEID}}')">YES</button></a>
                                <a class="dropdown-item" href="#">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#d{{this.ARTICLEID}}">
                                        NO
                                    </button>
                                </a>

                            </div>
                        </div>
                        <div class="modal fade" id="d{{this.ARTICLEID}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea class="form-control" id="b{{ARTICLEID}}" rows="1"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="commentupdate('{{ARTICLEID}}')" data-dismiss="modal">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                 
                        <td> 
                        <div class="mb-3">
                            <p id="c{{ARTICLEID}}">{{comment}}</p>  
                        </div>
                    </td>
                  
                    
                </tr>

                {{/each}}

            </tbody>



            </tbody>

    </table>
</div>
</div>
<style>
    .div {
        margin-top: 6rem;
    }
</style>
<script>
    function statusupdate(Id) {
        console.log(Id)
        $.ajax({

            url: '/updatestatu/' + Id,
            method: 'post',
            success: (response) => {
                if (response.status)

                    document.getElementById('a' + Id).innerHTML = "YES"
            }
        })
    }

    function commentupdate(Id) {
        let comment = document.getElementById('b' + Id).value
        console.log(Id)
        console.log("vannuuuu")
        $.ajax({

            url: '/commentstatu/' + Id,
            method: 'post',
            data: {
                Comment: comment
            },
            success: (response) => {
                if (response.status)
                    console.log("llkk")
                document.getElementById('a' + Id).innerHTML = "NO"

                document.getElementById('c' + Id).innerHTML = comment
            }
        })
    }
</script>